# UI & Dashboard
streamlit

# Agentic Framework & Tools
crewai
crewai-tools
tavily-python
fastmcp

# LLM Providers
langchain-groq
python-dotenv

# Data Processing
pandas
pypdf

# Common Core
langchain-community